.hslider div {display: none;}
.hslider .hactive{display: block;font-size: 100%;
    color: white;text-align: center;font-size: 500%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 210px;
}